extends ../layout

block content
     div(class='card mt-2')
          div(class='card-title text-center')
               h2= title
          div(class='card-header')
               div(class='d-grid gap-2')
                    a(id='btn-create-book' name='btn-create-book' href='/catalog/newbook' class='btn btn-info') Create New Book
          ul(class='list-group list-group-flush')
          - book_list.sort(function(a,b){ let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB)  ? -1 : (textA > textB) ? 1 : 0;});
          each book in book_list
               li(class='list-group-item')
                    div(class='d-grid gap-2')
                         a(href=book.url class='btn btn-light') 
                              span(class='h4') Title: #{book.title}
                              hr
                              span Author: #{book.author.name}
          else
               li(class='list-group-item') There are not books.
