extends ../layout

block content
     div(class='card mt-2')
          div(class='card-title text-center')
               h2= title
          div(class='card-header')
               div(class='d-grid gap-2')
                    a(id='btn-create-author' name='btn-create-author' href="/catalog/newauthor" class='btn btn-info') Create New Author
          ul(class='list-group list-group-flush')
               each author in author_list
                    li(class='list-group-item')
                         div(class='d-grid gap-2')
                              a(href=author.url class='btn btn-light')= author.name 
                                   hr
                                   span= author.lifespan
               else
                    li(class='list-group-item') There are no authors.